<h1><center><u>Title placeholder</u></center></h1>

<h1><center><u>Introduction</u></center></h1>

<h3>Players Dataset Description</h3>

| Variable | Type   | Missing Values | Description   | Potential Issues    |
|----------|--------|----------------|---------------|---------------------|
| experience| Character (categorical)| 0 | Player's self-reported experience level:<br>Pro, Veteran, Amateur, Beginner, or Regular | Experience level does not seem to correlate with subscription status. |
| subscribe| Logical (categorical)  | 0 | Indicates whether the player has an active subscription: True or False  | There is a class imbalance in the subscribe variable. |
| hashedEmail| Character (categorical)| 0 | Anonymized, unique identifier for each player’s email address | The variable names and hashedEmails will not help in the analysis of data. |
| played_hours | Double (numerical) | 0 | Total cumulative hours the player has played to one decimal place| Many users logged very little hours played on the game, causing significant outliers.<br>Does played_hours correspond to hours played in lifetime or hours played in a single game/sitting? |
| name | Character (categorical)| 0 | The player's first name | N/A |
| gender | Character (categorical)| 0 | The player's self-reported gender:<br>Male, Female, Agender, Nonbinary, Two-spirited, Prefer not to say, or Other | Variables like Age, gender, and experience are self-reported and may be inaccurate.<br>If K-NN classification with the gender variable is used, variable type needs to be converted.  |
| Age| Double (numerical)| 2 | The player's age in years | There are 2 missing values in the Age column<br>Extreme outliers, some players have values near zero. |

<h1><center><u>Methods and Results</u></center></h1>

<h3>Reading in the Data</h3>

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [12]:
players_raw <- read.csv("https://raw.githubusercontent.com/bhallasaachi/dsci-100-2025w1-Saachi-group-45/refs/heads/main/players.csv") |>
head(10)
players_raw

   experience subscribe
1  Pro         TRUE
2  Veteran     TRUE
3  Veteran    FALSE
4  Amateur     TRUE
5  Regular     TRUE
6  Amateur     TRUE
7  Regular     TRUE
8  Amateur    FALSE
9  Amateur     TRUE
10 Veteran     TRUE
   hashedEmail
1  f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2  f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3  b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
4  23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
5  7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e
6  f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977
7  8e594b8953193b26f498db95a508b03c6fe1c24bb5251d392c18a0da9a722807
8  1d2371d8a35c8831034b25bda8764539ab7db0f63938696917c447128a2540dd
9  8b71f4d66a38389b7528bb38ba6eb71157733df7d1740371852a797ae97d82d1
10 bbe2d83de678f519c4b3daa7265e683b4fe2d814077f9094afd11d8f217039ec
   played_hours name      gender Age
1  30.3         Morgan    Male    9
2   3.8         Christian Male   17
3   0.0         Blake     Male   17
4   0.7         Flora     Female 21
5   0.1         Kylie     Male   21
6   0.0         Adrian    Female 17
7   0.0         Luna      Female 19
8   0.0         Emerson   Male   21
9   0.1         Natalie   Male   47
10  0.0         Nyla      Female 22

<h3>Summary Stats</h3>

In [4]:
players_mean <- players_raw |>
select(Age, played_hours)|>
map(mean, na.rm = TRUE)
players_mean

subscribe_percentage <- nrow(players_raw)
players_raw |>
  group_by(subscribe) |>
  summarize(
    count = n(),
  )

$Age
[1] 21.13918

$played_hours
[1] 5.845918

  subscribe count
1 FALSE      52
2  TRUE     144

<h3>Wrangling the Data for Analysis</h3>

In [10]:
players <- 
select(players_raw, subscribe, played_hours, Age) |>
mutate( subscribe = as_factor(subscribe))
players

# players <- 
# select(players_raw, subscribe, played_hours, gender, Age) |>
# mutate(gender = as_factor(gender), subscribe = as_factor(subscribe))
# players

# library(fastDummies)
# players_dummy <- dummy_cols(players, select_columns = 'gender')

#selected variables needed for analysis
#changed gender and subscribe from character to factor type
#**********still need to create a dummy variable for gender

    subscribe played_hours Age
1   TRUE      30.3          9
2   TRUE       3.8         17
3   FALSE      0.0         17
4   TRUE       0.7         21
5   TRUE       0.1         21
6   TRUE       0.0         17
7   TRUE       0.0         19
8   FALSE      0.0         21
9   TRUE       0.1         47
10  TRUE       0.0         22
11  TRUE       1.6         23
12  TRUE       0.0         17
13  TRUE       1.5         25
14  TRUE       0.2         22
15  TRUE       0.0         17
16  FALSE      0.0         22
17  TRUE       0.0         17
18  TRUE      48.4         17
19  TRUE       0.5         17
20  TRUE       0.6         19
21  TRUE       0.3         58
22  FALSE      0.1         17
23  TRUE       1.0         17
24  TRUE       0.0         17
25  TRUE       0.7         21
26  TRUE       0.6         28
27  TRUE       0.0         17
28  FALSE      0.0         23
29  TRUE       1.8         23
30  FALSE      0.1         18
⋮   ⋮         ⋮            ⋮
167 FALSE      1.0         26
168 FALSE      0.3         17
169 TRUE       0.1         17
170 FALSE      0.1         17
171 FALSE      0.4         21
172 FALSE      1.8         32
173 TRUE       0.0         20
174 FALSE      0.0         50
175 TRUE       0.0         17
176 TRUE       0.3         17
177 FALSE      0.0         17
178 FALSE      2.7         21
179 TRUE       0.4         17
180 TRUE       0.1         17
181 FALSE      2.1         24
182 TRUE       0.8         22
183 FALSE      0.2         17
184 TRUE      32.0         22
185 FALSE      1.7         17
186 FALSE      0.1         18
187 TRUE       0.1         44
188 TRUE       0.0         17
189 TRUE       0.0         17
190 FALSE      0.0         17
191 TRUE       0.0         20
192 TRUE       0.0         17
193 FALSE      0.3         22
194 FALSE      0.0         57
195 FALSE      2.3         17
196 TRUE       0.2         NA

<h3>Visualizations</h3>

<h3>K-nn Classification</h3>

In [11]:
library(themis)
library(tidymodels)


set.seed(1)


players_split <- initial_split(players, prop = 0.75, strata = subscribe)
players_train <- training(players_split)
players_test <- testing(players_split)

# players_proportions <- players_train |>
#                       group_by(subscribe) |>
#                       summarize(n = n()) |>
#                       mutate(percent = 100*n/nrow(players_train))

# players_proportions

players_recipe <- recipe (subscribe ~ ., data = players_train) |>
step_impute_mean(all_predictors()) |>
# step_upsample(subscribe, over_ratio = 1, skip = TRUE) |>
step_scale(all_predictors()) |>
step_center(all_predictors()) 


players_spec <- nearest_neighbor(weight_func = "rectangular",
                             neighbors = tune()) |>
  set_engine("kknn") |>
  set_mode("classification")

players_vfold <- vfold_cv(players_train, v = 10, strata = subscribe)

k_vals <- tibble(neighbors = seq(from = 1, to = 100, by = 5))

players_results <- workflow() |>
  add_recipe(players_recipe) |>
  add_model(players_spec) |>
  tune_grid(resamples = players_vfold, grid = k_vals) |>
  collect_metrics()

accuracies <- players_results |>
  filter(.metric == "accuracy")

best_k <- accuracies |>
        arrange(desc(mean)) |>
        head(1) |>
        pull(neighbors)
best_k

players_spec_tuned <- nearest_neighbor(weight_func = "rectangular", neighbors = best_k) |>
  set_engine("kknn") |>
  set_mode("classification")


players_fit <- workflow() |>
  add_recipe(players_recipe) |>
  add_model(players_spec_tuned) |>
  fit(data = players_train)
players_fit

players_predictions<- predict(players_fit, players_test) |>
  bind_cols(players_test)

players_predictions |>
  metrics(truth = subscribe, estimate = .pred_class) |>
  filter(.metric == "accuracy")

── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

[1] 21

══ Workflow [trained] ══════════════════════════════════════════════════════════
Preprocessor: Recipe
Model: nearest_neighbor()

── Preprocessor ────────────────────────────────────────────────────────────────
3 Recipe Steps

• step_impute_mean()
• step_scale()
• step_center()

── Model ───────────────────────────────────────────────────────────────────────

Call:
kknn::train.kknn(formula = ..y ~ ., data = data, ks = min_rows(21,     data, 5), kernel = ~"rectangular")

Type of response variable: nominal
Minimal misclassification: 0.2585034
Best kernel: rectangular
Best k: 21

  .metric  .estimator .estimate
1 accuracy binary     0.7142857

<h1><center><u>Discussion</u></center></h1>

<h1><center><u>References</u></center></h1>